<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nezspencer.nuhiara.colourhub" >

    <uses-feature android:name="android.hardware.Camera"
        android:required="true" />

    <application
        android:name=".helper.ApplicationVariables"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity android:name=".BaseActivity"
                  android:label="@string/app_name">

        </activity>
        <activity
            android:name=".ColourListActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ColourHub">

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ColourHub" />
        </activity>
        <activity android:name=".ColorMixActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ColourHub">

            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ColourHub" />
        </activity>
        <activity
            android:name=".ColourDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ColourListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ColourListActivity" />
        </activity>

        <activity android:name=".ColourHub"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>



</manifest>
